

body{
  font-family: 'Montserrat', sans-serif;
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: normal;
}
h3{
  font-size: 1.5rem;
  font-family: "Montserrat-bold";
  font-weight: normal;
}
p{
  font-family:"Montserrat-light";
  color: #8f8f8f;
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  }


#features{
  text-align: center;
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;

}




#title{
  background-color: #ff4c68;
  color: #fff;

}
#testimonials{

  text-align: center;
  font-family: "Montserrat-light";
  background-color: #ef8172;
  color: #fff;

}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;

}
.cta-text{
  padding: 5% 20% 0 20%;
  color: white;
}

.pricing-text{
  padding-top: 7%;
}

.container-fluid{
  padding-top: 3%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 7%;

}
.navbar-brand{
  font-size: 3rem;
  font-family: "ubantu";
  font-weight: bold;

}
.iphone-image{
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;



}
.navbar{
  padding: 0 0 4rem 0;
  color: white;
}
.nav-link{
  font-size: 1.5rem;
  font-family: "Montserrat-light";

}
.nav-item{
  padding: 0 18px;
}
.download-button{
  margin: 5% 3% 5% 0;

}
.fas{
  color: #ef8172;
  margin-bottom: 1rem;

}
.row{

}
.features-col{
  padding:4.5%  ;
  text-align: center;
}
.fas:hover{
  color: red;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 1rem;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
.price{

  padding:3% 10% 10% 10%;
  margin: 0;
}
#pricing{
  padding: 0;
  text-align: center;
}
@media (max-width: 1020px) {
  .iphone-image{
    position: static;
    transform: rotate(0);
    text-align: center;
  }
#title{
  text-align: center;
}
}
#footer{
  text-align: center;
  background-color: #fff;
  padding: 5% 5% 3% 5%;
}
.footer-social{
  padding: 1%;
  color: black;
}
